@{
    ViewData["Title"] = "IoC";
}

<div class="text-center">
    <h1 class="display-4">Інверсія управління (Inversion of Control)</h1>
</div>

<p>
    Інверсія управління - архітектурний патерн, згідно
</p>

<p>

</p>

<p>

</p>

<p>

</p>

<hr />
<h3> Створення та реєстрація сервісів</h3>
<ul>
    <li>Користуємось принципом DIP (з SOLID) Dependency Inversion Principle:
        залежності створюються від максимально можливої абстрації.
        Створюємо інтерфейс для сервісу(Services/Random/IRandomService).
    </li>
    <li>Створюємо клас - імплементація інтерфейсу(Services/Random/DefaultRandomService)</li>
    <li>Реєструємо сервіс у Program.cs</li>
    <li>Створюємо клас - імплементацію інтерфейсу </li>
    <li>Реєструємо..</li>


</ul>

<h3>Інжекція сервісів</h3>
<ul>
    <li>За можливості інжекція має здійснюватисб через конструктори.
        Приклад - інжекція логера
    </li>
    <li>Викликаємо сервіс, отримаємо результат: @ViewData["otp"]</li>
</ul>