@{
    ViewData["Title"] = "TimeStamp";
}

<h2>Часові мітки: <br /></h2>

<ul>
        <li>TimeStampSeconds: @ViewBag.Seconds</li><hr />
    <li>TimeStampMilliSeconds: @ViewBag.MilliSeconds</li>
    <hr />
    <li>EpochTime: @ViewBag.Epocha</li>
    <hr />
</ul>